<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en-us" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en-us" class="no-js ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-us" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <!-- iPhone, iPad and Android specific settings -->
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1;">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link href="~/Content/lib/images/interface/iOS_icon.png" rel="apple-touch-icon">

    <!-- Styles -->
    <link rel="stylesheet" href="~/Content/lib/styles/adminica/reset.css">

    <!-- NOTE: The following css files have been combined and minified into plugins.css

		<link rel="stylesheet" href="styles/plugins/colorpicker/colorpicker.css">
		<link rel="stylesheet" href="styles/plugins/datatables/datatables.css">
		<link rel="stylesheet" href="styles/plugins/elfinder/elfinder.css">
		<link rel="stylesheet" href="styles/plugins/fancybox/fancybox.css">
		<link rel="stylesheet" href="styles/plugins/fullcalendar/fullcalendar.css">
		<link rel="stylesheet" href="styles/plugins/isotope/isotope.css">
		<link rel="stylesheet" href="styles/plugins/multiselect/multiselect.css">
		<link rel="stylesheet" href="styles/plugins/select2/select2.css">
		<link rel="stylesheet" href="styles/plugins/selectbox/selectbox.css">
		<link rel="stylesheet" href="styles/plugins/slidernav/slidernav.css">
		<link rel="stylesheet" href="styles/plugins/slidernav/smallipop.css">
		<link rel="stylesheet" href="styles/plugins/syntaxhighlighter/syntaxhighlighter.css">
		<link rel="stylesheet" href="styles/plugins/syntaxhighlighter/shThemeDefault.css">
		<link rel="stylesheet" href="styles/plugins/tagit/tagit.css">
		<link rel="stylesheet" href="styles/plugins/themeroller/themeroller.css">
		<link rel="stylesheet" href="styles/plugins/tinyeditor/tinyeditor.css">
		<link rel="stylesheet" href="styles/plugins/tiptip/tiptip.css">
		<link rel="stylesheet" href="styles/plugins/uistars/uistars.css">
		<link rel="stylesheet" href="styles/plugins/uitotop/uitotop.css">
		<link rel="stylesheet" href="styles/plugins/uniform/uniform.css"> -->
    <link rel="stylesheet" href="~/Content/lib/styles/plugins/all/plugins.css">

    <!-- NOTE: The following css files have been combined and minified into all.css

		<link rel="stylesheet" href="styles/adminica/text.css">
		<link rel="stylesheet" href="styles/adminica/grid.css">
		<link rel="stylesheet" href="styles/adminica/main.css">
		<link rel="stylesheet" href="styles/adminica/mobile.css">
		<link rel="stylesheet" href="styles/adminica/base.css">
		<link rel="stylesheet" href="styles/adminica/ie.css">
		<link rel="stylesheet" href="styles/themes/switcher.css"> -->
    <link rel="stylesheet" href="~/Content/lib/styles/adminica/all.css">

    <link rel="stylesheet" href="~/Content/lib/styles/themes/layout_fixed.css">
    @*<link rel="stylesheet" href="~/Content/lib/styles/themes/nav_slideout.css">*@
    <link rel="stylesheet" href="~/Content/lib/styles/themes/switcher.css">
    <link rel="stylesheet" href="~/Content/lib/styles/themes/theme_blue.css">
    <link rel="stylesheet" href="~/Content/lib/styles/themes/bg_honeycomb.css">

    <link rel="stylesheet" href="~/Content/lib/styles/adminica/colours.css">
    <!-- NOTE: The following js files have been conbined and minified into plugins-min.js

		<script src="scripts/jquery/jquery.js"></script>
		<script src="scripts/jquery/jqueryui.js"></script>
		<script src="scripts/modernizr/modernizr.js"></script>
		<script src="scripts/prefixfree/prefixfree.js"></script>
		<script src="scripts/pjax/pjax.js"></script>
		<script src="scripts/isotope/isotope.js"></script>
		<script src="scripts/autogrow/autogrow.js"></script>
		<script src="scripts/colorpicker/colorpicker.js"></script>
		<script src="scripts/cookie/cookie.js"></script>
		<script src="scripts/datatables/datatables.js"></script>
		<script src="scripts/elfinder/elfinder.js"></script>
		<script src="scripts/dragscroll/dragScroll.js"></script>
		<script src="scripts/tinyeditor/tinyeditor.js"></script>
		<script src="scripts/fancybox/fancybox.js"></script>
		<script src="scripts/flot/flot_excanvas.js"></script>
		<script src="scripts/flot/flot.js"></script>
		<script src="scripts/flot/flot_resize.js"></script>
		<script src="scripts/flot/flot_pie.js"></script>
		<script src="scripts/flot/flot_pie_update.js"></script>
		<script src="scripts/fullcalendar/fullcalendar.js"></script>
		<script src="scripts/fullcalendar/fullcalendar_gcal.js"></script>
		<script src="scripts/hoverintent/hoverIntent.js"></script>
		<script src="scripts/iscroll/iscroll.js"></script>
		<script src="scripts/knob/knob.js"></script>
		<script src="scripts/multiselect/multiselect.js"></script>
		<script src="scripts/select2/select2.js"></script>
		<script src="scripts/selectbox/selectbox.js"></script>
		<script src="scripts/slidernav/slidernav.js"></script>
		<script src="scripts/smallipop/smallipop.js"></script>
		<script src="scripts/sparkline/sparkline.js"></script>
		<script src="scripts/syntaxhighlighter/shCore.js"></script>
		<script src="scripts/syntaxhighlighter/shBrushJScript.js"></script>
		<script src="scripts/syntaxhighlighter/shBrushXml.js"></script>
		<script src="scripts/tagit/tagit.js"></script>
		<script src="scripts/timepicker/timepicker.js"></script>
		<script src="scripts/tinyeditor/tinyeditor.js"></script>
		<script src="scripts/tiptip/tiptip.js"></script>
		<script src="scripts/touchpunch/touchpunch.js"></script>
		<script src="scripts/uistars/uistars.js"></script>
		<script src="scripts/uitotop/uitotop.js"></script>
		<script src="scripts/uniform/uniform.js"></script>
		<script src="scripts/validation/validation.js"></script> -->
    <script src="~/Content/lib/scripts/plugins-min.js"></script>

    <!-- NOTE: The following js files have been conbined and minified into adminica_all-min.js

		<script src="scripts/adminica/adminica_ui.js"></script>
		<script src="scripts/adminica/adminica_mobile.js"></script>
		<script src="scripts/adminica/adminica_datatables.js"></script>
		<script src="scripts/adminica/adminica_calendar.js"></script>
		<script src="scripts/adminica/adminica_charts.js"></script>
		<script src="scripts/adminica/adminica_gallery.js"></script>
		<script src="scripts/adminica/adminica_various.js"></script>
		<script src="scripts/adminica/adminica_wizard.js"></script>
		<script src="scripts/adminica/adminica_forms.js"></script>
		<script src="scripts/adminica/adminica_load.js"></script>	-->
    <script src="~/Content/lib/scripts/adminica/adminica_all-min.js"></script>

</head>
<body>
    <div id="pjax">
        <div id="wrapper" data-adminica-nav-top="@ViewBag.DataAdminicaNavTop" data-adminica-side-top="@ViewBag.DataAdminicaSideTop">
            <div id="topbar" class="clearfix">
                <a href="dashboard_sorter.php" class="logo"><span>Adminica</span></a>
                <div class="user_box dark_box clearfix">
                    <img src="~/Content/lib/images/interface/profile.jpg" width="55" alt="Profile Pic" />
                    <h2>Super User</h2>
                    <h3>
                        <a class="text_shadow" href="#">Kaew, Natee Kaewkew</a></h3>
                    <ul>
                        <li><a href="#">profile</a><span class="divider">|</span></li>
                        <li><a href="#">settings</a><span class="divider">|</span></li>
                        <li><a href="login_slide.php" class="dialog_button" data-dialog="dialog_logout">Logout</a></li>
                    </ul>
                </div>
                <!-- #user_box -->
            </div>
            <!-- #topbar -->

            <div id="sidebar" class="sidebar pjax_links">
                <div class="cog">+</div>
                <a href="index.php" class="logo"><span>Adminica</span></a>
                <div class="user_box dark_box clearfix">
                    <img src="~/Content/lib/images/interface/profile.jpg" width="55" alt="Profile Pic" />
                    <h2>Super User</h2>
                    <h3>
                        <a href="#">Kaew, Natee Kaewkew</a></h3>
                    <ul>
                        <li><a href="#">settings</a><span class="divider">|</span></li>
                        <li><a href="login_slide.php" class="dialog_button" data-dialog="dialog_logout">Logout</a></li>
                    </ul>
                </div>
                <!-- #user_box -->
                <ul class="side_accordion" id="nav_side">
                    <!-- add class 'open_multiple' to change to from accordion to toggles -->
                    <li><a href="#">
                        <img src="~/Content/lib/images/icons/small/grey/travel_suitcase.png" />Operation</a></li>
                    <li><a href="#">
                        <img src="~/Content/lib/images/icons/small/grey/pencil.png" />Reservation</a></li>
                    <li><a href="#">
                        <img src="~/Content/lib/images/icons/small/grey/calculator.png" />Accountant</a></li>
                    <li><a href="#">
                        <img src="~/Content/lib/images/icons/small/grey/graph.png" />Report</a></li>
                    <li><a href="#">
                        <img src="~/Content/lib/images/icons/small/grey/users.png" />Members</a></li>
                    <li><a href="#">
                        <img src="~/Content/lib/images/icons/small/grey/cog.png" />System</a></li>
                </ul>

                <div id="search_side" class="dark_box">
                    <form>
                    <input class="" type="text" placeholder="Search"></form>
                </div>

                <ul id="side_links" class="side_links" style="margin-bottom: 0;">
                    <li><a href="#">Help</a>
                </ul>
            </div>
            <!-- #sidebar -->

            <div id="main_container" class="main_container container_16 clearfix">
                @RenderBody()
            </div>

        </div>
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
